section.page__catalog.catalog
  .catalog__container.container
    .catalog__cards.catalog-cards
      .catalog-cards__header
        h1.catalog-cards__title Casual
        .catalog-cards__wrapper
          p.catalog-cards__quantity-products.quantity-products
            | Showing&nbsp;
            span.quantity-products__current 1-9
            | &nbsp;of&nbsp;
            span.quantity-products__total 100
          .catalog-cards__sorting
            | Sort by:
            form(action="#" method="get").sorting-form
              select(name="sort").sorting-form__select
                option(value="popularity" selected="selected") Most Popular
                option(value="rating") Average rating
                option(value="price-low-to-high") Price: Low to High
                option(value="price-high-to-low") Price: High to Low
          button(type="button" aria-label="Open products filters").catalog-cards__filters-button
            +svg("", "settings-ic", 16, 16, "true")
      ul.catalog-cards__list
        each item in pugData.category_cards
          li.catalog-cards__item
            article.product-card
              a(href= item.card_link).product-card__link
                img(src= item.card_image width="295" height="298" aria-labelledby= item.card_id, alt= item.card_title).product-card__image
              h3(class="product-card__title" id= item.card_id)= item.card_title
              .product-card__rating.rating
                div(role="img" aria-label= item.card_rating).rating__image
                  each star_item in item.card_stars
                    img(src= star_item.star width="18" height="18", alt="").rating__star
                p.rating__text= item.card_rating_text
              p.product-card__prices.prices
                span.prices__current-price= item.card_current_price
                if item.card_old_price
                  s.prices__old-price= item.card_old_price
                  span.prices__discount= item.card_discount
      .pagination
        .pagination__container
          a(title="Previous page").pagination__control.pagination__control--prev.pagination__control--disable
            +svg("", "arrow-left-pagination", 16, 16)
            span Previous
          ul.pagination__list
            li.pagination__item
              a(title="Page 1").pagination__link.pagination__link--current 1
            li.pagination__item
              a(href="#" title="Page 2").pagination__link 2
            li.pagination__item.pagination__item--hidden
              a(href="#" title="Page 3").pagination__link 3
            li.pagination__item
              span.pagination__link--disabled ...
            li.pagination__item.pagination__item--hidden
              a(href="#" title="Page 8").pagination__link 8
            li.pagination__item
              a(href="#" title="Page 9").pagination__link 9
            li.pagination__item
              a(href="#" title="Page 10").pagination__link 10
          a(href="#" title="Next page").pagination__control.pagination__control--next
            +svg("", "arrow-right-pagination", 16, 16)
            span Next
    .catalog__filters.catalog-filters
      header.catalog-filters__header
        h2.catalog-filters__title Filters
        button(type="button" aria-label="Close filters").catalog-filters__close-button.close-button
          +svg("close-button__icon", "close-ic", 24, 24, "true")
      form(action="#" method="GET").catalog-filters__form.filters-form
        .filters-form__wrapper
          .filters-form__group
            fieldset.filters-form__fieldset
              legend.visually-hidden Clothes
              .filters-form__content
                .filters-accordion.filters-accordion--inner
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span T-shirts
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="t-shirts_prada").filters-form__custom-checkbox
                      input(type="checkbox" id="t-shirts_prada" name="t-shirts_prada").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Prada
                    label(for="t-shirts_zara").filters-form__custom-checkbox
                      input(type="checkbox" id="t-shirts_zara" name="t-shirts_zara").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Zara
                    label(for="t-shirts_gucci").filters-form__custom-checkbox
                      input(type="checkbox" id="t-shirts_gucci" name="t-shirts_gucci").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Gucci
                    label(for="t-shirts_versace").filters-form__custom-checkbox
                      input(type="checkbox" id="t-shirts_versace" name="t-shirts_versace").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Versace
                    label(for="t-shirts_calvin-klein").filters-form__custom-checkbox
                      input(type="checkbox" id="t-shirts_calvin-klein" name="t-shirts_calvin-klein").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Calvin Klein
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span Shorts
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="shorts_prada").filters-form__custom-checkbox
                      input(type="checkbox" id="shorts_prada" name="shorts_prada").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Prada
                    label(for="shorts_zara").filters-form__custom-checkbox
                      input(type="checkbox" id="shorts_zara" name="shorts_zara").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Zara
                    label(for="shorts_gucci").filters-form__custom-checkbox
                      input(type="checkbox" id="shorts_gucci" name="shorts_gucci").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Gucci
                    label(for="shorts_versace").filters-form__custom-checkbox
                      input(type="checkbox" id="shorts_versace" name="shorts_versace").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Versace
                    label(for="shorts_calvin-klein").filters-form__custom-checkbox
                      input(type="checkbox" id="shorts_calvin-klein" name="shorts_calvin-klein").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Calvin Klein
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span Shirts
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="shirts_prada").filters-form__custom-checkbox
                      input(type="checkbox" id="shirts_prada" name="shirts_prada").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Prada
                    label(for="shirts_zara").filters-form__custom-checkbox
                      input(type="checkbox" id="shirts_zara" name="shirts_zara").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Zara
                    label(for="shirts_gucci").filters-form__custom-checkbox
                      input(type="checkbox" id="shirts_gucci" name="shirts_gucci").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Gucci
                    label(for="shirts_versace").filters-form__custom-checkbox
                      input(type="checkbox" id="shirts_versace" name="shirts_versace").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Versace
                    label(for="shirts_calvin-klein").filters-form__custom-checkbox
                      input(type="checkbox" id="shirts_calvin-klein" name="shirts_calvin-klein").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Calvin Klein
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span Hoodie
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="hoodie_prada").filters-form__custom-checkbox
                      input(type="checkbox" id="hoodie_prada" name="hoodie_prada").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Prada
                    label(for="hoodie_zara").filters-form__custom-checkbox
                      input(type="checkbox" id="hoodie_zara" name="hoodie_zara").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Zara
                    label(for="hoodie_gucci").filters-form__custom-checkbox
                      input(type="checkbox" id="hoodie_gucci" name="hoodie_gucci").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Gucci
                    label(for="hoodie_versace").filters-form__custom-checkbox
                      input(type="checkbox" id="hoodie_versace" name="hoodie_versace").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Versace
                    label(for="hoodie_calvin-klein").filters-form__custom-checkbox
                      input(type="checkbox" id="hoodie_calvin-klein" name="hoodie_calvin-klein").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Calvin Klein
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span Jeans
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="jeans_prada").filters-form__custom-checkbox
                      input(type="checkbox" id="jeans_prada" name="jeans_prada").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Prada
                    label(for="jeans_zara").filters-form__custom-checkbox
                      input(type="checkbox" id="jeans_zara" name="jeans_zara").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Zara
                    label(for="jeans_gucci").filters-form__custom-checkbox
                      input(type="checkbox" id="jeans_gucci" name="jeans_gucci").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Gucci
                    label(for="jeans_versace").filters-form__custom-checkbox
                      input(type="checkbox" id="jeans_versace" name="jeans_versace").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Versace
                    label(for="jeans_calvin-klein").filters-form__custom-checkbox
                      input(type="checkbox" id="jeans_calvin-klein" name="jeans_calvin-klein").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Calvin Klein
          .filters-form__group
            fieldset.filters-form__fieldset.filters-accordion
              legend.filters-form__legend.filters-accordion__item
                button(type="button" aria-expanded="true").filters-accordion__button.filters-accordion__button--active
                  span Price
              div(aria-hidden="false").filters-accordion__panel
                div.filters-form__price-range.price-range(data-min-price="0" data-max-price="250")
                label(for="minimal-price").visually-hidden
                  input(tabindex="-1" type="text" placeholder="Minimal price" id="minimal-price" name="minimal-price" value="50")
                  span.visually-hidden Price from
                label(for="maximum-price").visually-hidden
                  input(tabindex="-1" type="text" placeholder="Maximum price" id="maximum-price" name="maximum-price" value="200")
                  span.visually-hidden Price to
          .filters-form__group.filters-form__group--overflow-hidden
            fieldset.filters-form__fieldset.filters-accordion
              legend.filters-form__legend.filters-accordion__item
                button(type="button" aria-expanded="true").filters-accordion__button.filters-accordion__button--active
                  span Colors
              div(aria-hidden="false").filters-accordion__panel
                .filters-form__color-checkboxes.color-checkboxes
                  label(for="color_1").visually-hidden Green
                  input(type="checkbox" name="color_1" id="color_1" style="background-color: rgb(0, 193, 43);").color-checkboxes__item
                  label(for="color_2").visually-hidden Red
                  input(type="checkbox" name="color_2" id="color_2" style="background-color: rgb(245, 6, 6);").color-checkboxes__item
                  label(for="color_3").visually-hidden Yellow
                  input(type="checkbox" name="color_3" id="color_3" style="background-color: rgb(245, 221, 6);").color-checkboxes__item
                  label(for="color_4").visually-hidden Orange
                  input(type="checkbox" name="color_4" id="color_4" style="background-color: rgb(245, 121, 6);").color-checkboxes__item
                  label(for="color_5").visually-hidden Turquoise
                  input(type="checkbox" name="color_5" id="color_5" style="background-color: rgb(6, 202, 245);").color-checkboxes__item
                  label(for="color_6").visually-hidden Blue
                  input(type="checkbox" name="color_6" id="color_6" style="background-color: rgb(6, 58, 245);").color-checkboxes__item
                  label(for="color_7").visually-hidden Violet
                  input(type="checkbox" name="color_7" id="color_7" style="background-color: rgb(125, 6, 245);").color-checkboxes__item
                  label(for="color_8").visually-hidden Pink
                  input(type="checkbox" name="color_8" id="color_8" style="background-color: rgb(245, 6, 164);").color-checkboxes__item
                  label(for="color_9").visually-hidden White
                  input(type="checkbox" name="color_9" id="color_9" style="background-color: rgb(255, 255, 255);").color-checkboxes__item.color-checkboxes__item--white
                  label(for="color_10").visually-hidden Black
                  input(type="checkbox" name="color_10" id="color_10" style="background-color: rgb(0, 0, 0);").color-checkboxes__item
          .filters-form__group
            fieldset.filters-form__fieldset.filters-accordion
              legend.filters-form__legend.filters-accordion__item
                button(type="button" aria-expanded="true").filters-accordion__button.filters-accordion__button--active
                  span Size
              div(aria-hidden="false").filters-accordion__panel
                .filters-form__size-checkboxes.size-checkboxes
                  input(type="checkbox" name="xx-small-size" id="xx-small-size").visually-hidden.size-checkboxes__checkbox
                  label(for="xx-small-size").size-checkboxes__item XX-Small
                  input(type="checkbox" name="x-small-size" id="x-small-size").visually-hidden.size-checkboxes__checkbox
                  label(for="x-small-size").size-checkboxes__item X-Small
                  input(type="checkbox" name="small-size" id="small-size").visually-hidden.size-checkboxes__checkbox
                  label(for="small-size").size-checkboxes__item Small
                  input(type="checkbox" name="medium-size" id="medium-size").visually-hidden.size-checkboxes__checkbox
                  label(for="medium-size").size-checkboxes__item Medium
                  input(type="checkbox" name="large-size" id="large-size").visually-hidden.size-checkboxes__checkbox
                  label(for="large-size").size-checkboxes__item Large
                  input(type="checkbox" name="x-large-size" id="x-large-size").visually-hidden.size-checkboxes__checkbox
                  label(for="x-large-size").size-checkboxes__item X-Large
                  input(type="checkbox" name="xx-large-size" id="xx-large-size").visually-hidden.size-checkboxes__checkbox
                  label(for="xx-large-size").size-checkboxes__item XX-Large
                  input(type="checkbox" name="xxx-large-size" id="xxx-large-size").visually-hidden.size-checkboxes__checkbox
                  label(for="xxx-large-size").size-checkboxes__item 3X-Large
                  input(type="checkbox" name="xxxx-large-size" id="xxxx-large-size").visually-hidden.size-checkboxes__checkbox
                  label(for="xxxx-large-size").size-checkboxes__item 4X-Large
          .filters-form__group
            fieldset.filters-form__fieldset.filters-accordion
              legend.filters-form__legend.filters-accordion__item
                button(type="button" aria-expanded="true").filters-accordion__button.filters-accordion__button--active
                  span Dress Style
              div(aria-hidden="false").filters-accordion__panel
                .filters-accordion.filters-accordion--inner
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span Casual
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="casual-t-shirts").filters-form__custom-checkbox
                      input(type="checkbox" id="casual-t-shirts" name="casual-t-shirts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | T-shirts
                    label(for="casual-shorts").filters-form__custom-checkbox
                      input(type="checkbox" id="casual-shorts" name="casual-shorts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Shorts
                    label(for="casual-shirts").filters-form__custom-checkbox
                      input(type="checkbox" id="casual-shirts" name="casual-shirts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Shirts
                    label(for="casual-hoodie").filters-form__custom-checkbox
                      input(type="checkbox" id="casual-hoodie" name="casual-hoodie").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Hoodie
                    label(for="casual-jeans").filters-form__custom-checkbox
                      input(type="checkbox" id="casual-jeans" name="casual-jeans").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Jeans
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span Formal
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="formal-t-shirts").filters-form__custom-checkbox
                      input(type="checkbox" id="formal-t-shirts" name="formal-t-shirts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | T-shirts
                    label(for="formal-shorts").filters-form__custom-checkbox
                      input(type="checkbox" id="formal-shorts" name="formal-shorts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Shorts
                    label(for="formal-shirts").filters-form__custom-checkbox
                      input(type="checkbox" id="formal-shirts" name="formal-shirts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Shirts
                    label(for="formal-hoodie").filters-form__custom-checkbox
                      input(type="checkbox" id="formal-hoodie" name="formal-hoodie").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Hoodie
                    label(for="formal-jeans").filters-form__custom-checkbox
                      input(type="checkbox" id="formal-jeans" name="formal-jeans").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Jeans
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span Party
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="party-t-shirts").filters-form__custom-checkbox
                      input(type="checkbox" id="party-t-shirts" name="party-t-shirts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | T-shirts
                    label(for="party-shorts").filters-form__custom-checkbox
                      input(type="checkbox" id="party-shorts" name="party-shorts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Shorts
                    label(for="party-shirts").filters-form__custom-checkbox
                      input(type="checkbox" id="party-shirts" name="party-shirts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Shirts
                    label(for="party-hoodie").filters-form__custom-checkbox
                      input(type="checkbox" id="party-hoodie" name="party-hoodie").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Hoodie
                    label(for="party-jeans").filters-form__custom-checkbox
                      input(type="checkbox" id="party-jeans" name="party-jeans").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Jeans
                  .filters-accordion__item
                    button(type="button" aria-expanded="false").filters-accordion__button
                      span Gym
                  div(aria-hidden="true").filters-accordion__panel.filters-accordion__panel--hidden.filters-accordion__panel--column
                    label(for="gym-t-shirts").filters-form__custom-checkbox
                      input(type="checkbox" id="gym-t-shirts" name="gym-t-shirts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | T-shirts
                    label(for="gym-shorts").filters-form__custom-checkbox
                      input(type="checkbox" id="gym-shorts" name="gym-shorts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Shorts
                    label(for="gym-shirts").filters-form__custom-checkbox
                      input(type="checkbox" id="gym-shirts" name="gym-shirts").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Shirts
                    label(for="gym-hoodie").filters-form__custom-checkbox
                      input(type="checkbox" id="gym-hoodie" name="gym-hoodie").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Hoodie
                    label(for="gym-jeans").filters-form__custom-checkbox
                      input(type="checkbox" id="gym-jeans" name="gym-jeans").visually-hidden.filters-form__checkbox-input
                      span.filters-form__custom-box
                      | Jeans
          button(type="submit" aria-label="Apply filter").filters-form__apply-button.button Apply Filter
