section.page__assortment.assortment
  .assortment__container.assortment__container--border.container
    h2.assortment__title.section-title New arrivals
    .assortment__slider.new-arrivals-slider.splide
      .splide__track
        ul.splide__list
          each item in pugData.new_arrivals_cards
            li.splide__slide
              article.product-card
                a(href= item.card_link).product-card__link
                  img(src= item.card_image width="295" height="298" aria-labelledby= item.card_id, alt= item.card_title).product-card__image
                h3(class="product-card__title" id= item.card_id)= item.card_title
                .product-card__rating.rating
                  div(role="img" aria-label= item.card_rating).rating__image
                    each star_item in item.card_stars
                      img(src= star_item.star width="18" height="18", alt="").rating__star
                  p.rating__text= item.card_rating_text
                p.product-card__prices.prices
                  span.prices__current-price= item.card_current_price
                  if item.card_old_price
                    s.prices__old-price= item.card_old_price
                    span.prices__discount= item.card_discount
    a(href="#").assortment__button.button.button--outline View All
